/* Mobile Screens */
@media screen and (max-width: 430px) {
    .About p {
        font-size: 0.50em;
    }
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
    .About p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 820px) {
    .About p {
        font-size: 0.9em;
    }
}