/* Styling the POPOSList Component */

.POPOSList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: auto;
    padding: 2em;
}

/* Smaller screens(mobile) and tablets */
@media only screen and (max-width: 700px) {
    .POPOSList {
        grid-template-columns: 1fr;
    }
}