/* Styling the POPOSList Component */
.POPOSList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: auto;
    padding: 2em;
}

/* POPOSList Form */
.POPOSList form {
    display: flex;
    align-items: flex-start;
}

.POPOSList form input, .POPOSList form button {
    padding: 1em;
    margin: 0;
    border: 1px solid;
    font-size: 1rem;
}

.POPOSList form input {
    flex: 1;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
    color: #eee;
    background-color: black;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

/* Smaller screens(mobile) */
@media screen and (max-width: 480px) {
	.POPOSList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
		margin-bottom: 10px;
        overflow-x: hidden;
    }

    .POPOSList form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .POPOSList form input, .POPOSList form button {
        padding: 1rem;
        margin: 0;
        border: 1px solid;
        font-size: 1rem;
    }
    
    .POPOSList form input {
        flex: 1;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
    
    .POPOSList form button {
        color: #eee;
        background-color: black;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
	.POPOSList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
		margin-bottom: 10px;
        overflow-x: hidden;
    }

    .POPOSList form {
        display: flex;
        align-items: flex-start;
    }

    .POPOSList form input, .POPOSList form button {
        padding: 1em;
        margin: 0;
        border: 1px solid;
        font-size: 1rem;
    }
    
    .POPOSList form input {
        flex: 1;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
    
    .POPOSList form button {
        color: #eee;
        background-color: black;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
    
}