.RandomSpace {
    padding: 7px;
    margin: 0;
    color: #eed;
    border: none;
    background-color: #008CBA;
    font-size: 0.9rem;
    border-radius: 0.4rem;
}

.RandomSpace:hover {
    box-shadow: 2px 2px 3px #008CBA;
}