/* Styling the POPOSSpace Component */
.POPOSSpace {
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin: 1rem 0;
    font-family: 'Helvetica', -apple-system, sans-serif;
}

/* Styling the images contained within POPOSSpace */
.POPOSSpace_image {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

/* Styling the addresses contained within POPOSSpace */
.POPOSSpace_address {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styling the hours contained within POPOSSpace */
.POPOSSpace_hours {
    font-size: 0.9rem;
    font-style: italic;
}